<div class="container-fluid bg-secondary text-white font-weight-bold">
  <div class="row">
    <div class="col-md-4 col-12 text-center text-md-left">
      <p>All rights reserved<br>The Buckeye Mudder Club</p>
    </div>
    <div class="col-md-4 col-12 text-center">
      <p>Updated: {{updatedDate}}</p>
    </div>
    <div class="col-md-4 col-12 text-center text-md-right">
      <p>In association with <a href="https://toughmudder.com" class="text-white">Tough Mudder, Inc.</a><br>and <a href="https://osu.edu" class="text-white">The Ohio State University</a></p>
    </div>
  </div>
</div>