<div class="container-fluid">
  <div class="row">
    <div class="col-12 secondary-title">
      <h1>Workouts</h1>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12 col-md-6">
      <h3>Strength and Conditioning Training</h3>
      <p>The Buckeye Mudder Club will meet twice a week for strength training open to active members, led by Dana Furnas. These workouts are HIIT (High Intensity Interval Training) style and are designed around the muscle groups and movements that will be used to complete Tough Mudder obstacles.</p>
      <p><strong>Mondays:</strong> 8 - 10pm at Jesse Owens North (JON) *This workout is after-hours</p>
      <p><strong>Fridays:</strong> 6:30 - 7:30pm at the RPAC</p>
    </div>
    <div class="col-12 col-md-6">
      <h3>Cardio and Endurance Training</h3>
      <p>The Buckeye Mudder Club will meet twice a week for cardio workouts that will include an interval run and a middle distance run (~3 miles total) along with other body weight exercises open to all active members, led by Ryan Wuebben.</p>
      <p><strong>Wednesdays:</strong> 8 - 9pm at the RPAC</p>
      <p><strong>Sundays:</strong> 11am - 1pm</p>
      <p>When the weather is cold, we will run along the Olentangy trail near campus, but when it starts to get warmer, we will hold our Sunday workouts at the JCC Black Diamond Obstacle Course in Bexley, OH. Designed and built by Columbus's own Jason Goggins, this course is home to over 30 world-class obstacles that will challenge you both physically and mentally.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>These workouts will be suitable for all fitness levels and leaders will ensure that members are challenging themselves but also maintaining a safe, positive, encouraging atmosphere.</h3>
    </div>
  </div>
</div>